.nav {
    background-color: #f2f2f2;
    color: #120000; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 60px; 
    padding: 0 10px;
  }
  
  .container {
    display: flex; 
  justify-content: space-between; 
  align-items: center;
  }
  
  .brand {
    font-size: 1.5rem; 
    font-weight: bold; 
    text-decoration: none;
  }
  
  .navList {
    display: flex;
    list-style: none; 
    padding: 100px;
    margin-right: 10px;
  }
  
  .navList li {
    margin-right: 20px;
    justify-content: center;
    
  }
  
  .navList a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .navList a:hover {
    color: #f1f1f1;
  }
  
  .cart {
    position: relative;
  }
  
  .cartLink {
    display: flex;
    align-items: center;
  }
  
  .cartIcon {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .cartCount {
    position: absolute;
    top: -5px; 
    right: -5px;
    background-color: #fff; 
    color: #333; 
    border-radius: 50%;
    width: 18px; 
    height: 18px;
    text-align: center;
    font-size: 0.8rem;
  }