.h1{
  text-align: center;
}
.item-status{
  font-weight: 900;
  color: red;
}
.item-button {
  display:flex;
  justify-content: center;
  font-weight: 700;
  background-color: #bbae7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
  width: 80%;
}
.item-button:hover {
  background-color: bisque;
  color: black;
}
.top{
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  
}
#upload_items{
  padding: 1rem 2rem;
  font-weight: 700;
  background-color: #bbae7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product-btns{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.hidden{
  display: none;
}
.inputNubmer{
    border: 1px solid black;
    border-radius:5px;
    height: 31px;
    padding: 3px 7px;
}
.inputSubmit{
  border: 1px solid black;
  border-radius:5px;
  height: 31px;
  padding: 3px 7px;
  cursor: pointer;
}
.card{
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(165, 64, 64, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product_info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image{
    width: 100%;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(165, 64, 64, 0.5);
}

.product_title {
  font-size: 20px;
  color: #333;
}

.product_description {
  margin-top: 10px;
}

.product_price {
  font-size: 18px;
  color: #888;
}

.item_status{
  font-weight: 900;
  color: red;
}

.product_btns{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.item_button {
  display:flex;
  justify-content: center;
  font-weight: 700;
  background-color: #bbae7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
  width: 80%;
}
.item_button:hover {
  background-color: bisque;
  color: black;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  margin: 0rem 1rem;
}

@media screen and (min-width: 50rem){
  .products_container{
    margin-top: 1rem;
  }
  .top{
    margin: 0rem 1rem;
    flex-direction: row;
    gap: 2rem;
  }
}