.saleHistory{

}
.h1{
  text-align: center;
}
.item-status{
  font-weight: 900;
  color: red;
}
.item-button {
  display:flex;
  justify-content: center;
  font-weight: 700;
  background-color: #bbae7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
  width: 80%;
}
.item-button:hover {
  background-color: bisque;
  color: black;
}
.top{
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  
}
.upload_items{
  padding: 1rem 2rem;
  font-weight: 700;
  background-color: #bbae7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product-btns{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.hidden{
  display: none;
}
.inputNubmer{
    border: 1px solid black;
    border-radius:5px;
    height: 31px;
    padding: 3px 7px;
}
.inputSubmit{
  border: 1px solid black;
  border-radius:5px;
  height: 31px;
  padding: 3px 7px;
  cursor: pointer;
}
.card{
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(165, 64, 64, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product_info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image{
    width: 100%;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(165, 64, 64, 0.5);
}

.product_title {
  font-size: 20px;
  color: #333;
}

.product_description {
  margin-top: 10px;
}

.product_price {
  font-size: 18px;
  color: #888;
}

.item_status{
  font-weight: 900;
  color: red;
}

.product_btns{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.item_button {
  display:flex;
  justify-content: center;
  font-weight: 700;
  background-color: #bbae7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 80%;
}
.item_button:hover {
  background-color: bisque;
  color: black;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  margin: 0rem 1rem;
}

.content{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 1rem;
}

.itemDetails{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.405);
  width: 100%;
  border-radius: 2%;
  padding: 2rem 2rem;
  background-color: white;
}

.details_content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details{
    width: 100%;
}

.details_image{
  width: 34vw;
  height: 100%;
  border-radius: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.405);
}

.title{
  align-self: center;
}

.sale_history_title{
  border-top: 1px solid black;
  width: 100%;
}



@media screen and (min-width: 50rem){
  .products_container{
    margin-top: 1rem;
  }
  .top{
    margin: 0rem 1rem;
    flex-direction: row;
    gap: 2rem;
  }

  .details_content{
    justify-content: flex-start;
  }

  .details{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";
  }

  .itemDetails{       
    width: 90%;
  }
  .deatils_image{
      grid-area: image;
      height: 90%;
      width: 80%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.405);
  }
}