/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./public/css/login.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.login_body__fCBnB {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login_loginContainer__KOOwy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.login_form__uOOb4 {
  display: flex;
  width: 70%;
  max-width: 600px;
  min-width: 400px;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  border: 1px solid rgb(215, 214, 214);
  background-color: rgba(255, 255, 255, 0.714);
}

.login_username__bUGQs,
.login_password__2HlZU {
  flex: 1 1;

  min-width: 80px;
  padding: 15px;
  border: solid;
  border-color: rgb(215, 214, 214);
  caret-color: black;
  font-size: 10px;
  border-radius: 50px;
  border-width: 1px;
  outline-width: 0;
}

.login_body__fCBnB {
}
.login_username__bUGQs:hover,
.login_password__2HlZU:hover {
  border: solid;
  border-width: 0.01px;
}
.login_username__bUGQs::placeholder,
.login_password__2HlZU::placeholder {
  color: black;
}

.login_forgot-password__n_gs6 {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.login_forgot-password__n_gs6:hover {
  text-decoration: underline;
}

.login_loginBtn__inYai {
  color: white;
  font-size: 20px;
  background: black;
  padding: 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.login_login-btn__0hBCQ:hover {
  text-decoration: underline;
  background: #e3dac9;
  color: black;
}

