@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    range: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background-color: #FAF8F0;
    font-family:'Courier New', Courier, monospace;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3;
    overflow: auto;

}
nav{
    background-color:#E3DAC9 ;
    color:black;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist{
    display: flex;
}
.navlist li{
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    z-index: 111;
}
.navlist li a{
    color: black;
    padding: 10px;
    position: relative;
}
.navlist li a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    opacity: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility:hidden;
    border-bottom: solid #8D029B;
}
.navlist li a:hover:before,
.navlist li a.active:before{
    height: 95%;
    opacity: 1;
    visibility:visible;
}
.container{
    margin:0 auto;
    width: 85%;
}
.logo div:first-child{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    color:black;
}
.logo div:first-child span{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    color:#8D029B;
}
.menu-btn{
    display: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 25px;

}
.icons{
    display: flex;
    gap: 2rem;
}
.icons .lnr{
    font-size: 1.1rem;
    cursor: pointer;
}

.icons .lnr:hover{
    color: #8D029B;
}


/* login */

/* section Home */

.home{
    padding: 0%;
}



/* section about */
/* section shop */
/* section contact us */
