@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    range: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background-color: #FAF8F0;
    font-family:'Courier New', Courier, monospace;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3;
    overflow: auto;
   
}
header{
    width: 100%;
}
nav{
    background-color:#E3DAC9 ;
    color:black;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist{
    display: flex;
}
.navlist li{
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    z-index: 111;
}
.navlist li a{
    color: black;
    padding: 10px;
    position: relative;
}
.navlist li a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    opacity: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility:hidden;
    border-bottom: solid #8D029B;
}
.navlist li a:hover:before,
.navlist li a.active:before{
    height: 95%;
    opacity: 2;
    visibility:visible;
}
.container{
    margin:0 auto;
    width: 85%;
}
.logo div:first-child{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    color:black;
}
.logo div:first-child span{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    color:#8D029B;
}
.menu-btn{
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 25px;
    z-index: 10001;

}
.icons{
    display: flex;
   cursor: pointer;
   z-index: 1000;
   font-weight: 20px;
   column-gap: 0.8rem;
   align-items: center;
}

.icons .lnr{
    font-size: 20px;
    cursor: pointer;
    padding: 7px;
    border-radius: 0.4rem;
}

.icons .lnr:hover{
    color: #8D029B;
}

.icons i{
    position: relative;
}
.icons span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 500;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
}

.search-box{
    position: absolute;
    /* hidded the search bar */
    top: -10%;
    right: 1rem;
    width: 230px;
}
.search-box input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
    color: black;
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}
.search-box.active{
    top: 10%;
    transition:none;
}

/* login */

/* section Home */

.home{
    padding: 0%;
}



/* section about */
/* section shop */
/* section contact us */



/* footer */

footer{
    bottom: 0;
    width: 100%;
    flex-direction: column;
    padding: 100px 0 0;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color:#E3DAC9;
    padding: 2px;
    text-align: center;
    flex-direction: column;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
    margin-bottom: 13px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.coloum{
   flex-basis: 25%;
   padding: 10px;
   text-align: justify;
}
.coloum h3{
   width: fit-content;
   margin: 5px;
   position: relative;
   border-bottom: 2px solid #8D029B;
   padding-bottom: 0cqh;
    
}
.social-links .fab{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   line-height: 40px;
   margin-right: 20px;
   font-size: 20px;
   cursor: pointer;
   color: #000;
   background: #fff;
   text-align: center;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #1e1b1b;
    margin: auto;
}
.buy-btn{
    display:flex;
    justify-content: center;
    font-weight: 700;
    background-color: #bbae7c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
}
.coloum h3:hover{
    color: #8D029B;

}
.social-links .fab:hover{
    color: #8D029B;
}
ul li a:hover{
    color: #8D029B;
}


.item-container{
    position:fixed;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    height: 100%;
    top:0;
    right:0;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    z-index: 1000;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    background-color: #FAF8F0;
    transition: right 0.3s ease-in-out;
}
.cart-close{
    cursor: pointer;
    right: 20px;
    top: 20px;
}
.cartItems{
    position: absolute;
    bottom: 10px;
    width: 88%;
}
.cartItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1.5px solid #8D029B;
    padding: 15px 10px;
}
.cartF{
    position: absolute;
    bottom: 10px;
    width: 88%;
}
.totalItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1.5px solid #8D029B;
    padding: 15px 10px;
}
.cartTotal{
    font-size: 16px;
    font-weight: 400;
}
.checkout-btn{
    width: 100%;
    margin-top: 2rem;
    padding: 10px;
}
@media only screen and (max-width: 1058px) {
   /* section{

   } */
  }
  @media only screen and (max-width: 46rem) {
    header{
     height: 65vh;
    }
    /* section{
 
    } */

   
   .menu-btn{
    display: initial;
   }

   .navlist{
    position:absolute;
    top:10%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background:white;
    padding: 20px;
    row-gap: 1.4rem;
    transition: 0.4s all linear;
    text-align:center;
    clip-path: circle(144% at 100 1%);
   }
  .navlist.active{
    clip-path: circle(144% at 100 1%);
  }
}
@media only screen and (max-width: 614px) {
}